<div class="container">
  <div class="panel-body"  *ngIf="t_columns">

      <input type="text" style="width:30%; margin:20px auto;" placeholder="Please Enter Fliter Keywords Here" name="searchQuery" [(ngModel)]="searchQuery" class="form-control">

    <table  class="table table-striped" #mf="mfDataTable" data-toggle="table" [mfData]="t_rows | filter:searchQuery" [mfRowsOnPage]="5">
      <thead>
        <tr>
          <th *ngFor="let col of t_columns"
            data-sortable="true"
            class="text-center"
            style="width:22%"
         >
            <mfDefaultSorter by="{{col}}">{{col | uppercase}}</mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of mf.data">
          <td *ngFor="let col of t_columns"
              class="text-center">{{row[col]}}
          </td>
        </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="4"><mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator></td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>